<%- include('includes/start.ejs') %>
<link rel="stylesheet" href="/css/userSelection.css">
<link rel="stylesheet" href="/css/createTournamentGrid.css">

<title><%=title%></title>
</head>
<body>
    <%- include('includes/navbar.ejs') %>
    <div class="container">
    <p>Here you can create your Tournament!</p>

    <form class="form" action="/creator" method="POST">
      <div class="grid">
        <div class="tournament-features">
        
          <label>Discypline:</label><br>
          <input type="text" name="discipline" placeholder="E.G. Chess"><br><br>
          <label for="lname">Tournament type:</label><br>
          <select name="type">
              <option value="Bracket Tournament">Bracket Tournament</option>
              <option value="League Tournament">League Tournament</option>
          </select><br><br>
          <label>Description of Tournament:</label><br>
          <textarea name="description" rows="4" cols="50"></textarea><br><br>
          <input class="button" type="submit" value="Create"><br>
        
      </div>
        
      <div class="selected-users">
        <h3>Added Users:</h3>
        <ul class="selected-users-list" name="user">
        </ul>
      </div>
    </form>
      <div class="container2">
        <div class="tournament-users">
          <h3>Users to add</h3>
          <div class="alert-user-selected"></div>
          <div class="select-box">
            <div class="options-container">
              <% for ( let user of users ) { %>
                <div class="option">
                  <input type="radio" class="radio" name="user">
                  <label class="user-login" for="<%= user.login %>" id="<%= user._id %>"><%= user.login %></label>
                </div>
              <% } %>
            </div>
            <div class="selected">
              <input class="find-user" type="text" placeholder="Select User">
            </div>
          </div>
        </div>
      </div>
    </div>
<script src="/js/selectUser.js"></script>

    
<%- include('includes/end.ejs') %>
    </div>