<%- include('includes/start.ejs') %>


<title><%=title%></title>
</head>
<body>
    
    <%- include('includes/navbar.ejs') %>
    <div class="container">    
        <p>Welcome to Tournament Creator! :)</p>
        <div class="tours">
            <% if (tournaments.length > 0) { %>
                <% for (let tournament of tournaments.reverse()) { %>
                    <article>
                        <hr>
                        <div id="<%=tournament.id%>">
                            <p>Here is a Tournament <a href="/tournaments/<%=tournament.id%>"><%=tournament.id%></a> and it was created <%=tournament.date%> </p>
                        </div>
                        <hr>
                    </article>
                <% } %>

            <% } else { %>
                <h1>No Tournaments Found!</h1>
            <% } %>
        </div>
    </div>

<%- include('includes/end.ejs') %>
