<%- include('includes/start.ejs') %>

<title><%=title%></title>
</head>
<body>

    <%- include('includes/navbar.ejs') %>
    <p>Congratulations! Your Tournament has been created! :)</p>
    <p>Your Tournament is <a href="/tournaments/<%=id%>">here :)</a></p>



<%- include('includes/end.ejs') %>
